nav a{
    text-decoration: none;
    color: aquamarine;
    transition: 0.5s;
}

nav a:hover{
    color:rgb(136, 255, 0) ;
    background-color:rgb(165, 106, 42) ;
    font-weight: bold;
    font-style: italic;
}


button{
    font-size: 25px;
    color: aqua;
    background-color: black;
    border-radius: 10px;
}
#tavasz{
    border: 3px ;
    transition: 3s;
    float: left;
}
#nyar{
    border: 3px ;
    transition: 3s;
    float: left;
}
#osz{
    border: 3px ;
    transition: 3s;
    float: left;
}
#tel{
    border: 3px ;
    transition: 3s;
    float: left;
}
#tavasz:hover{
    scale: 1.1;
}
#nyar:hover{
    scale: 1.1;
}
#osz:hover{
scale: 1.1;
}
#tel:hover{
    scale: 1.1;
}

#keretalja{
    clear: both;
 }